.search-form input {
    padding: 15px;
    width: 100%;
    margin: 15px auto;
    display: block;
    max-width: 250px;
    border: 1px solid #f3f2f2;
}
.search-form input:focus {
    outline: 0;
}
