doctype
html(lang="en")
    head
        title New Tab
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(charset="UTF8")
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amiri")
    body
        .cover
        .container
            blockquote
                .quote Be like water. 
                .author Bruce Lee
                hr
                
            .row
                .list.col.col--1-of-2.row1
                    h2
                    ul
                .list.col.col--1-of-2.row2
                    h2
                    ul
                                    
        
        
        script(type="text/javascript", src="/static/js/data.js")
        script(type="text/javascript", src="/static/js/jquery-3.2.1.min.js")
        script(type="text/javascript", src="/static/js/main.js")
