doctype
html(lang=en)
    head
        meta(charset="UTF8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(rel="stylesheet", href="/static/css/popup.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amiri")
    body
        .popup
            h1 Popsicle
            hr
            p Thank you for downloading the Popsicle extension!
            p You can access your Popsicle settings by right clicking the Popsicle icon (above) and clicking "Options".
            p To hide the Popsicle icon, right click the same icon and click "Manage Extension". Then, check "Hide from toolbar".
